<!DOCTYPE html>
<html>

<head>
	<title>Five-in-a-Row Game</title>
</head>

<body>
	<h1>Five-in-a-Row Game</h1>
	<h3>Game descriptions</h3>
	<p>“Five in a Row … is traditionally played with GO pieces (black and white stones) on a go board with 19x19 intersections”</p>
	<p>“Black plays first if white did not just win, and players alternate in placing a stone of their color on an empty intersection.
		The winner is the first player to get an unbroken row of five stones horizontally, vertically, or diagonally.”</p>
	<h3>Game info</h3>
	<p id="gameInfo"></p>
	<canvas id="chess" width="600px" height="600px" style="border:1px solid #000000"></canvas>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="static/game.js"></script>
</body>

</html>